<div id="cart-container">
    <table>
        <tbody>
            <tr>
                <td>
                    <img src="../img/pfolio-3.png">
                </td>
                <td>
                    <table>
                        <tbody>
                            <tr>
                                <td>Gitman Casual Shirt</td>
                            </tr>
                            <tr>
                                <td>Small / Brown</td>
                            </tr>
                            <tr>
                                <td>1</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    £139
                </td>
            </tr>
            <tr>
                <td>
                    <img src="../img/pfolio-3.png">
                </td>
                <td>
                    <table>
                        <tbody>
                            <tr>
                                <td>Gitman Casual Shirt</td>
                            </tr>
                            <tr>
                                <td>Large / Green</td>
                            </tr>
                            <tr>
                                <td>4</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    £556
                </td>
            </tr>
        </tbody>
    </table>
    <hr>
    <table>
        <tbody>
            <tr>
                <td>
                    Total
                </td>
                <td>
                £695
                </td>
            </tr>
        </tbody>
    </table>
</div>