<div id="header" class="hidden-xs">
  <div class="container">
    <div class="row">

      <!-- logo -->
      <div class="col-lg-3 col-sm-3 logo">
        <a href="#">Redlight</a>
      </div>

      <!-- main navigation -->
      <div class="col-lg-4 col-sm-12">
        <div id="navigation">
          <div id="main-nav">
            <div id="contests" class="first">
              <a href="/webs/designer-landing">Shop</a>
            </div>
            <div id="produce">
              <a href="/webs/manufacturer-index">About</a>
            </div>
            <div id="sell">
              <a href="/webs/shop-index">Contact</a>
            </div>
          </div>
        </div>
      </div>

      <!-- basket menu -->
      <div class="col-lg-5 col-sm-12 users ">
        <p class="text-right">

        </p>
      </div>
    </div>
  </div>
</div>