<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-xs-3">
        <a href="#" class="hidden-xs">Redlight</a>
        <i class="icon-menu-2 visible-xs"></i>
      </div>
      <div class="col-lg-8 col-xs-6">
        <a href="#" class="visible-xs">Redlight</a>
        <ul id="nav" class="hidden-xs">
          <li class="active">
            <a href="#">Men</a>
          </li>
          <li>
            <a href="#">Womens</a>
          </li>
          <li>
            <a href="#">Jewelry</a>
          </li>
          <li>
            <a href="#">Accessories</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-2 col-xs-3">
        <i class="icon-user"></i>
      </div>
    </div>
  </div>
</header>