<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-xs-3">
        <a href="/" class="hidden-sm" id="brand">Redlight</a>
        <i class="icon-menu-2 visible-sm" id="trigger"></i>
      </div>
      <div class="col-lg-8 col-xs-6" id="nav-menu">
        <a href="#" class="visible-sm" id="brand">Redlight</a>
        <ul id="nav" class="hidden-sm">
          <li class="active">
            <a href="product.html">Men</a>
          </li>
          <li>
            <a href="product.html">Womens</a>
          </li>
          <li>
            <a href="product.html">Jewelry</a>
          </li>
          <li>
            <a href="product.html">Accessories</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-2 col-xs-3" id="basket-menu">
        <i class="icon-search"></i>
        <i class="icon-user"></i>
      </div>
    </div>
  </div>
</header>