<div id="header" class="visible-xs mobile-header">
  <div class="container">
    <div class="row">
        <div class="col-xs-2">
            <i class="icon-menu-2" id="trigger"></i>
        </div>
        <div class="col-xs-8">
            Redlight
        </div>
        <div class="col-xs-2 last">
            <i class="icon-user"></i>
        </div>
    </div>
</div>
</div>