<nav id="mp-menu" class="mp-menu">
  <div class="mp-level">
    <ul>
      <li><a href="index.html">Home</a></li>
      <li>
        <a href="#">Design</a>
        <div class="mp-level">
          <h2>Design</h2>
          <a class="mp-back" href="#">back</a>
          <ul>
            <li>
              <a href="#">Browse Categoriess</a>
              <div class="mp-level">
                <h2>Browse Categories</h2>
                <a class="mp-back" href="#">back</a>
                <ul>
                  <li><a href="#">Men's Wear</a></li>
                  <li><a href="#">Women's Wear</a></li>
                  <li><a href="#">Kid's Wear</a></li>
                  <li><a href="#">Accessories</a></li>
                  <li><a href="#">Photo / Video</a></li>
                </ul>
              </div>
            </li>
            <li><a href="#">How it works</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Get Designed</a></li>
            <li><a href="#">Designers</a></li>
          </ul>
        </div>
      </li>
      <li>
        <a href="#">Manufacture</a>
        <div class="mp-level">
          <h2>Manufacture</h2>
          <a class="mp-back" href="#">back</a>
          <ul>
            <li><a href="#">Produce 1</a></li>
            <li><a href="#">Produce 2</a></li>
            <li><a href="#">Produce 3</a></li>
            <li><a href="#">Produce 4</a></li>
            <li><a href="#">Produce 5</a></li>
            <li><a href="#">Produce 6</a></li>
          </ul>
        </div>
      </li>
      <li>
        <a href="#">Sell</a>
        <div class="mp-level">
          <h2>Sell</h2>
          <a class="mp-back" href="#">back</a>
          <ul>
            <li><a href="#">Sell 1</a></li>
            <li><a href="#">Sell 2</a></li>
            <li><a href="#">Sell 3</a></li>
            <li><a href="#">Sell 4</a></li>
          </ul>
        </div>
      </li>
      <li>
        <a href="#">Dashboard</a>
        <div class="mp-level">
          <h2>Dashboard</h2>
          <a class="mp-back" href="#">back</a>
          <ul>
            <li><a href="#">Overview</a></li>
            <li><a href="#">Inbox</a></li>
            <li><a href="#">Contest</a>
              <div class="mp-level">
                <h2>Contest</h2>
                <a class="mp-back" href="#">back</a>
                <ul>
                  <li><a href="#">My Contests</a></li>
                  <li><a href="#">My Profile</a></li>
                  <li><a href="#">My Portfolio</a></li>
                </ul>
              </div>
            </li>
            <li><a href="#">Produce</a>
              <div class="mp-level">
                <h2>Produce</h2>
                <a class="mp-back" href="#">back</a>
                <ul>
                  <li><a href="#">My Jobs</a></li>
                  <li><a href="#">My Profile</a></li>
                  <li><a href="#">Producer Portfolio</a></li>
                </ul>
              </div>
            </li>
            <li><a href="#">Shop Setup</a>
              <div class="mp-level">
                <h2>Shop Setup</h2>
                <a class="mp-back" href="#">back</a>
                <ul>
                  <li><a href="#">My Products</a></li>
                  <li><a href="#">Add Shipping Methods</a></li>
                  <li><a href="#">Add Terms</a></li>
                  <li><a href="#">Store Info</a></li>
                  <li><a href="#">Store Reports</a></li>
                </ul>
              </div>
            </li>
            <li><a href="#">Account Setup</a></li>
            <li><a href="#">Financials</a>
              <div class="mp-level">
                <h2>Financials</h2>
                <a class="mp-back" href="#">back</a>
                <ul>
                  <li><a href="#">Financial Accounts</a></li>
                  <li><a href="#">Withdraw Funds</a></li>
                  <li><a href="#">Transaction History</a></li>
                </ul>
              </div>
            </li>
            <li><a href="#">My Closet</a>
              <div class="mp-level">
                <h2>My Closet</h2>
                <a class="mp-back" href="#">back</a>
                <ul>
                  <li><a href="#">Closet Manager</a></li>
                  <li><a href="#">My Wishlist</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </li>
      <li><a href="index.html">Sign Up</a></li>
      <li><a href="index.html">Login In</a></li>
    </ul>
  </div>
</nav>

