<div class="modal fade" id="notifyMeModal" tabindex="-1" role="dialog" aria-labelledby="notifyMeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 id="notifyMeModalLabel">Notify Me</h2>
      </div>
      <div class="modal-body">
        <form method="post" role="form" action="#">
              <p>Please enter your email address and we'll let you know when SKU10 is back in stock:</p>
              <div class="form-check-group">
                  <input id="email" type="text">
              </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn orange" data-dismiss="modal">Close</button>
        <button type="button" class="btn green">Submit</button>
      </div>
    </div>
  </div>
</div>