<div id="search-overlay">
    <form>
        <div id="search-input">
            <input type="text"/>
            <i class="icon-search"></i>
        </div>
    </form>
    <i class="icon-close"></i>
</div>