#empty-cart-container
{
    text-align:center;

    h3
    {
        color: #555;
        font-size: 1.4em;
        text-transform: uppercase;
        font-weight: bold;
        border-bottom: 0;
        padding: 0;
        margin: 50px 0 15px 0;
    }
    p
    {
        margin-bottom:50px;
    }
}
#cart-container
{
    height:auto;
    width:400px;
    background: #fff;
    position:absolute;
    top:-10000px;
    right:9px;   
    padding:15px 10px 10px;
    // box-shadow: 0 0 10px rgba(0,0,0,0.33);
    @include transition-property(top);
    @include transition-timing-function(ease-in);
    @include transition-duration(0.4s);
    z-index:-1;

    &.active
    {
        top:55px !important;
    }

    table
    {
        width:100%;

        &#cart-items
        {
            font-size: 0.83em;

            tbody
            {
                tr
                {
                    border-bottom:20px solid #fff;

                    td
                    {
                        &:first-child
                        {
                            img
                            {
                                margin-right: 10px;
                            }
                        }
                        &:nth-child(2)
                        {
                            width:55%
                        }
                        &:last-child
                        {
                            width:25%;
                            text-align: right;
                            font-weight: bold;
                            position: relative;

                            a.delete-cart-item
                            {
                                display: block;
                                position: absolute;
                                top: 0;
                                right: 0;
                                margin-top: 0;

                                i
                                {
                                    font-size:0.8em;
                                }
                            }

                            div
                            {
                                position: absolute;
                                bottom:0;
                                right:0;
                            }
                        }

                        table.cart-item-details
                        {
                            tbody
                            {
                                tr
                                {
                                    border-bottom: 0;

                                    td
                                    {
                                        text-align: left;
                                        font-weight:normal;
                                    }

                                    &:first-child
                                    {
                                        td
                                        {
                                            font-weight: bold;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    &:last-child
                    {
                        border-bottom: 0;
                    }
                }
            }
        }

        &#cart-total
        {
            font-weight:bold;

            tbody
            {
                tr
                {
                    td
                    {
                        &:last-child
                        {
                            text-align: right;
                        }
                    }
                }
            }
        }

        img
        {
            height:55px;
            width:55px;
        }
    }
    a
    {
        width:100%;
        margin-top:1em;
    }
}