.checkout
{

  .checkout-panel
  {

    .col-lg-4
    {
      min-height: 675px;

      form
      {
        .form-check-group-full
        {
          text-align: left;
          margin:0 15px 10px 0;
        }
      }
    }

    #cart-checkout-container
    {
      height:288px;
      overflow-y:scroll;
      overflow-x:hidden;
    }

    h3
    {
      border-bottom: 1px solid #dbdbdb;
      padding-bottom: 5px;
      margin-bottom: 20px;
      color: #f37e49;
      font-size:12px;
    }

    #cart-navigation
    {
      text-align: right;
      margin-top: 20px;

      i
      {
        &.icon-arrow-up-2
        {
          display: none;
        }
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  body
  {
    .checkout
    {
      .checkout-panel
      {
        #cart-checkout-container
        {
          height:auto;
        }
      }
    }
  }
}