.checkout
{

  .checkout-panel
  {

    .col-lg-4
    {
      min-height: 675px;

      form
      {
        .form-check-group-full
        {
          text-align: left;
          margin:0 15px 10px 0;
        }
      }
    }

    #delivery-services
    {
        table
        {
          font-size: 0.83em;
          thead
          {
            th
            {
              padding: 5px;
            }
          }
          tbody
          {
            tr
            {
              cursor: pointer;
              -webkit-transition: all 0s ease;
              -moz-transition: all 0s ease;
              -ms-transition: all 0s ease;
              -o-transition: all 0s ease;
              transition: all 0s ease;

              &.active
              {
                color: #fff;
                background: #4baec8;
              }

              td
              {
                padding:5px;

                input
                {
                  position: relative;
                  top:-2px;
                }
              }
            }
          }
        }
    }

    #cart-checkout-container
    {
      height:288px;
      overflow-y:scroll;
      overflow-x:hidden;
    }

    h3
    {
      border-bottom: 1px solid #dbdbdb;
      padding-bottom: 5px;
      margin-bottom: 20px;
      color: #f37e49;
      font-size:12px;
    }

    #cart-navigation
    {
      text-align: right;
      margin-top: 20px;

      span
      {
        text-transform: uppercase;
        font-size:0.75em;
        font-weight:bold;
        display: inline-block;
        line-height: 14px;
      }

      i
      {
        &.icon-arrow-up-2
        {
          display: none;
        }
      }
    }
    #confirm-payment-info
    {
      img
      {
        height:75px;
        margin-bottom:5px;
      }
      p
      {
        margin-bottom:0px;
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  body
  {
    .checkout
    {
      .checkout-panel
      {
        #cart-checkout-container
        {
          height:auto;
        }
      }
    }
  }
}