#fourzerofour, #fivezerozero
{
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 5px 25px 35px;
    text-align: center;

    h1
    {
        font-family: 'Pacifico', cursive;
        color: $red;
        margin-top:0;
        font-size:5em;
        line-height: 80px;
    }

    h2
    {
        font-size:1.1em;
        margin:20px 0;
        line-height: 1.5em;
    }

    form
    {
        .form-check-group
        {
            margin-bottom: 0;
        }

        input[type=submit]
        {
            height:34px;
            padding:8px 30px;
            min-width:inherit;
        }
    }
}