footer
{
    #social
    {
        background: #4baec8;
        padding:40px 0;

        
        .container .row div.col-sm-5
        {
            margin-top: 2.8%;

            a 
            {
                margin: 0 3px;
                line-height: 0;
                background: none;
                display: inline-block;
                width: 41px;
                height: 41px;
                color:#fff;

                &:hover 
                {
                    color: #197790;
                }

                &.instagram 
                {
                    background: image-url('f-instagram.png') no-repeat;
                    background-size: cover;
                }

                &.instagram:hover 
                {
                    background: image-url('f-instagram-2.png') no-repeat;
                    background-size: cover;
                }

                &.facebook 
                {
                    background: image-url('f-facebook.png') no-repeat;
                    background-size: cover;
                }

                &.facebook:hover 
                {
                    background: image-url('f-facebook-2.png') no-repeat;
                    background-size: cover;
                }

                &.linkedin 
                {
                    background: image-url('f-linkedin.png') no-repeat;
                    background-size: cover;
                }

                &.linkedin:hover 
                {
                    background: image-url('f-linkedin-2.png') no-repeat;
                    background-size: cover;
                }

                &.twitter 
                {
                    background: image-url('f-twitter.png') no-repeat;
                    background-size: cover;
                }

                &.twitter:hover 
                {
                    background: image-url('f-twitter-2.png') no-repeat;
                    background-size: cover;
                }

                &.vimeo 
                {
                    background: image-url('f-vimeo.png') no-repeat;
                    background-size: cover;
                }

                &.vimeo:hover 
                {
                    background: image-url('f-vimeo-2.png') no-repeat;
                    background-size: cover;
                }
            }
        }
        .newsletter-form
        {
            .input-group
            {
                max-width: 400px;
                
                .form-control
                {
                    background: image-url('mail-letter.png') no-repeat #fff;
                    @include border-radius(0px);
                    border: 1px solid #fff;
                    color: #777;
                    min-height: 42px;
                    padding-left: 40px;
                    box-shadow: none;
                    
                    &:focus 
                    {
                        background: image-url('mail-letter-2.png') no-repeat #fff;
                        border: 1px solid #3398b2;
                        color: #333;
                    }
                }
                .btn.go 
                {
                    background: #74b71b;
                    border: 1px solid #74b71b;
                    border-top: 1px solid #8ad02e;
                    border-radius: 0;
                    color: #fff;
                    font-weight: bold;
                    font-family: "droid-sans",sans-serif;
                    font-style: normal;
                    font-weight: 400;
                    letter-spacing: 1px;
                    padding: 10px;
                    margin: 0;
                    min-width: 40px;

                    &:hover 
                    {
                        background: #8ad02e;
                        border: 1px solid #8ad02e;
                        border-bottom: 1px solid #74b71b;
                        border-right: 1px solid #74b71b;
                    }
                }
            }
            h1
            {
                color: #fff;
                font-size: 0.91em;
                font-family: "droid-sans",sans-serif;
                font-style: normal;
                font-weight: 400;
                text-transform: none;
            }
        }
    }
    #footer-large 
    {
        background: #4baec8;
        padding-top: 65px;
        padding-bottom: 35px;
        border: 1px solid #83c7d9;
        border-left: 0;
        border-right: 0;

        h1 
        {
            color: #fff;
            font-weight: 700;
            font-size: 0.86em;
            text-transform: uppercase;
        }
        p, li, li a
        {
            color: #fff;
            font-size: 0.92em;
            text-transform: none;
            line-height: 24px;
        }
        ul
        {
            padding:0;

            li
            {
                list-style: none;

                a:hover
                {
                    color: #111; 
                    text-decoration: underline;
                }
            }
        }
        
    }
}


#copyright {
    background: #3398b2;
    padding: 15px;
    color: #fff;
    font-size: 15px;

    a {
        color: #fff;
        font-weight: bold;

        &:hover {
            color: #111;
        }
    }
}
