header 
{
    background: #fff;


    #brand
    {
        font-family: 'Pacifico', cursive;
        color: $red;
    }
    ul#nav
    {
        list-style-type: none;
        margin:0;
        padding: 0;
        overflow: hidden;

        li 
        {
            float:left;
            text-align: center;
            min-width: 100px;

            &:hover, &.active
            {
                background-color:#4baec8;
            }
            &:hover a, &.active a
            {
                color: #fff;
            }

            a 
            {
                color: #43565c;
                text-transform: uppercase;
                font-family: "museo-sans",sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 0.85em;
                padding: 20px 15px;
                display: block;

                &:hover 
                {
                    color: #fff;
                }
            }
        }
    }
}
/* mobile styles */
// .mobile-header{
//     .row
//     {
//         height: 54px;

//         i
//         {
//             margin-top: 7px;
//             font-size: 40px;
//             color: #359cbe;
//             display: block;
//             cursor: pointer;
//         }

//         div
//         {
//             &:first-child
//             {
//                 text-align: left;
//             }
//             &:nth-child(2)
//             {
//                 text-align: center;
//             }
//             &:last-child
//             {
//                 text-align: right;
//             }
//         }
//     }
// }
