#header-content
{
    height:480px;
    background:gray;
    margin-top:-40px;
}
#hero-carousel
{
    margin-top: -40px;
}
section
{
    padding: 35px 30px;

    &.grey
    {
        background-color:#ececec;
    }
    h1
    {
        text-transform: uppercase;
        font-size: 1.35em;
        color: #f37e49;
        padding-bottom: 5px;
        margin: 0 0 30px 0;
        font-size: 1.2em;
        padding:0;
    }
}