.checkout
{

  .header
  {
    background-color: #00a4bc;

    h3
    {
      color: #FFF; 

      &.order-summary 
      {
        position: relative;
        left: 5px;
      }
    }    
  }

  .table tr td 
  {
    border-top: 1px solid #eee!important;
    &.first 
    {
      border-top: 0!important;
    }
  }

  .checkout-panel {
    background: #fff;
    padding: 60px;
    font-size: 0.83em;
    font-family: "droid-sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    min-height: 640px;
  }
  #cart 
  {
    #price 
    {
      font-weight: 300;
      color: #444;
      font-size: 1.15em;
      line-height: 30px;

      small 
      {
        font-weight: 300;
        color: #666;
        font-size: .88em;
        display: block;
        margin-top: 4px;
      }
    }
    h3 
    {
      padding-bottom: 0;
      margin-bottom: 0;
      font-size: 1.15em;
      font-weight: 300;
      color: #111;
      line-height: 20px;
      margin-top: -10px;
    }
    tr
    { 
      td 
      {
        vertical-align: middle;
        font-size: .92em;
        color: #b6b6b6;
        padding: 15px 0;

        strong 
        {
          color: #777;
        }
      }
    }
    #delete 
    {
      text-align: center;
      overflow: hidden;
      width: 2%;
      padding: 0 5px;
      a 
      {
        font-size: 1.45em;
        font-family: "Century Gothic";
        position: absolute;
        display: block;
        margin-top: -15px;

        &:hover 
        {
          color: #333;
          text-decoration: none;
        }
      }
    }
  }
  #cart-mobile {
    display: none;
    border-top: 1px solid #d9d9d9;
    margin-bottom: 0;
    &:hover {
      background: #f3f3f3;
    }
    td {
      border-top: 0!important;
      font-size: .92em;
      color: #888;
      padding-top: 10px;
    }
    .cartImg {
      width: 70px;
      height: 75px;
    }
    h3 {
      font-size: 1em;
      font-weight: 700;
      margin-top: 0;
    }
    .cart-shipping {
      font-size: .92em;
    }
    #price {
      text-align: center;
      color: #333;
    }
  }
}









#cartQty-td {
  text-align: center;
}



.cart-qty {
  width: 30px;
  font-weight: 300;
  text-align: center;
  padding: 5px;
}

.cartImg {
  width: 108px;
  height: 116px;
}


.order-btn {
  width: 100%;
  border: 0;
  margin-bottom: 5px;
  background: #74b71b;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
}

#checkout-secure {
  margin-top: 15px;
  text-align: center;
}


hr {
  border-color: #eae6e2;
}

#cartQty-td strong {
  font-size: 1.25em;
  color: #222!important;
  text-align: left;
  margin-left: -20px;
}




@media only screen and (max-width: 768px) {
  .checkout 
  {
    padding: 40px 10px;
  }
  #cart 
  {
    display: none;
  }
  #cart-mobile 
  {
    display: block;
  }
}