.product
{
    padding:0 0 40px;

    .product-main
    {

        img 
        {
            max-width: 100%;
            border: 1px solid #e8e8e8;
            padding: 5px;
            background: #fff;
            display: block;
        }
    }
    .product-thumb 
    {
        text-align: center;

        img 
        {
            border: 2px solid #f9f9f9;
            margin-bottom: 10px;
            width: 103px;

            &:hover, &.selected
            {
                border: 2px solid #f37e49;
            }
        }
    }
    .content
    {
        p, h1
        {
            margin: 0;
            padding: 0;
        }
        p 
        {
            color: #ccc;
            text-transform: uppercase;

            a 
            {
                color: #333;
                text-transform: none;
                text-decoration: none !important;

                &:hover 
                {
                    color: #999;
                }
            }
        }
        h1,h2
        {
            color: #f37e49;
        }
        h1
        {
            text-transform: uppercase;
            font-size: 1.35em;
            font-weight: 700;
            margin-top: 10px;
            padding-bottom: 10px;
        }
        h2 
        {
            margin-top: 30px;
            font-size: 1.65em;
            font-weight: 700;
            border-bottom: 1px solid #eee;
            padding-bottom: 20px;

            span 
            {
                color: #777;
                font-size: 0.48em;
                font-weight: 300;
            }
        }
        .details 
        {
            text-transform: none;
            color: #999;
            font-size: 0.72em;
            line-height: 22px;
        }
        .row 
        {
            padding: 10px 0;
        }
    }
    select 
    {
        font-size: 0.78em;
        border-radius: 0;
        margin-right: 5px;
        border: 1px solid #eae6e2;
    }
    .btn 
    {
        margin-left: 0;
        min-width: 180px;
    }
    p
    {
        a
        {
            text-decoration: underline !important;
            font-size: 0.82em;
        }
    }
    h2
    {
        &.line 
        {
            padding-bottom: 0;
            margin-top: 20px;
            border-top: 1px solid #eee;
            border-bottom: 0;
        }
    }
    h3 
    {
        color: #d1d1d1;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
        padding-top: 20px;
        font-size: 0.82em;
    }
    input 
    {
        padding: 5px;
        max-width: 25%;
        display: inline-block;
    }
    .social 
    {
        float: left;
        display: block;

        &.fb 
        {
            width: 32px;
            height: 32px;
            background: image-url('fb.png') center center no-repeat #3b5999;
            padding: 10px;
            margin-right: 10px;
        }
        &.tw 
        {
            width: 32px;
            height: 32px;
            background: image-url('tw.png') center center no-repeat #00aced;
            padding: 10px;
            margin-right: 10px;
        }
        &.gp 
        {
            width: 32px;
            height: 32px;
            background: image-url('gp.png') center center no-repeat #d44332;
            padding: 10px;
        }
        &:hover 
        {
            -moz-opacity: 0.6;
            -webkit-opacity: 0.6;
            opacity: 0.6;
        }
    }
}

/* ############ RESPONSIVE VIEW ################ */


@media only screen and (max-width: 768px) {
    .product .crumb {margin-left: 0; text-align: center;}

    #product  {padding: 30px 10px;}
    .product .product-thumb img {width: 65px;}
    .popup .bio {display: none;}

    .tab-content .box p .lb {display: block;}
}