@media only screen and (max-width: 767px) {
    body
    {
        header
        {
            #brand
            {
                text-align: center;
                font-size:1.4em;
                line-height: 50px;
            }
        }
        footer #social .container .row div.col-sm-5
        {
            margin-top: 3.8%;
        }
        .main
        {
            padding:30px 10px;
        }
    }
}