@media only screen and (max-width: 991px) {
    body
    {
        #nav-menu
        {
            text-align: center;
            padding:0;
        }
        #main-menu
        {
            font-size:1.8em;

            i
            {
                line-height: 60px;
            }
        }

        .list-header
        {
            form
            {
                width:70% !important;

                .form-check-group
                {
                    width:70% !important;
                    display: inline-block !important;
                }
            }
        }

        #fourzerofour, #fivezerozero
        {
            form
            {
                .form-check-group
                {
                    margin-bottom:20px;
                }
            }
        }
        .product
        {
            input
            {
                max-width:40%;
            }
        }

        form
        {
            .form-check-group, .form-check-group-half
            {
              width:100% !important;
              display: block !important;
            }
        }
        .innertabs
        {
            &#product
            {
                margin-top: -40px;
            }
        }
    }
}
@media only screen and (max-width: 767px) {
    body
    {
        header
        {
            #brand
            {
                text-align: center;
                font-size:1.4em;
                line-height: 50px;
            }
        }
        #main-menu
        {
            font-size:1.6em;

            i
            {
                line-height: 50px;
            }
        }
        footer #social .container .row div.col-sm-5
        {
            margin-top: 3.8%;
        }
        .main
        {
            padding: 90px 10px 60px;
        }
        .product
        {
            .content
            {
                margin-top: 30px;
            }
        }
        .list-header
        {
            h1
            {
                display: block !important;
                margin: 0 20px 20px 0 !important;
            }

            form
            {
                width: 100% !important;

                .form-check-group
                {
                    width:75% !important;
                }
            }
        }
        .listing-products
        {
            #list-wrapper
            {
                .list
                {
                    margin: 0 0 25px 15px;
                }
            }
        }
    }
}
@media only screen and (max-width: 640px) {
    body
    {
        header
        {
            #basket-menu
            {
                #search-icon
                {
                    display: none;
                }
            }
        }
    }
}
@media only screen and (max-width: 610px) {
    body
    {
        .list-header
        {

            form
            {
                .form-check-group
                {
                    width:65% !important;
                }
            }
        }
    }
}
@media only screen and (max-width: 455px) {
    body
    {
        .list-header
        {

            form
            {
                .form-check-group
                {
                    width:55% !important;
                }
            }
        }
    }
}