#static-page, #contact-page
{
    h1
    {
        text-transform: uppercase;
        font-size: 1.35em;
        font-weight: 700;
        color: #f37e49;
        margin-bottom:40px;
    }
    p
    {
        font-size:0.9em;
    }
}
#contact-page
{
    form
    {
        margin-top:30px;
    }
}