#inner-block.tab-container.innertabs {
    background: image-url('grad-2.png') repeat-x top #fff;
    padding-bottom: 0;
    padding-top: 10px;
    border-bottom: 1px solid #d9d9d9;

    .nav-tabs {
        border-bottom: 0;
        margin-left: 0px;
    }
}

#inner-block.tab-container.inner-tab-contents {
    padding: 20px 0 0;
}

#myTab
{
    li
    {
        a
        {
            color: #979797;
            font-family: "droid-sans", sans-serif;
            font-size: 0.92em;
            font-weight: 700;
            padding: 20px 30px;

            &:hover {
                color: #47adc7;
                background: none;
                border-radius: 0;
                border: 1px solid #fff;
                border-bottom: 2px solid #47adc7;
            }
        }
        &.active
        {
            a
            {
                color: #47adc7;
                background: none;
                border-radius: 0;
                border: 1px solid #fff;
                border-bottom: 2px solid #47adc7;
                font-weight: 700;
                text-transform: none;
            }
        }
    }
}
.tab-pane
{
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 0 25px;
}
.tab-content 
{
    p 
    {
        color: #818181;
        font-size: 0.82em;

        span 
        {
            margin-bottom: 5px;

            a 
            {
                margin-left: 50px;
                line-height: 36px;
            }
        }
    }
    a
    {
        color: #777;
        
        &:hover 
        {
            color: #333;
            text-decoration: underline;
        }
    }
    .checklist
    {
        list-style: none;
        margin-left: -40px;

        li {
            background: image-url('tick.png') top left no-repeat;
            padding-left: 30px;
            color: #555;
            font-size: 0.86em;
            line-height: 24px;
            margin-bottom: 10px;

            a {
                color: #1a90b2;
            }
        }
    }
}