.innertabs
{
    background: image-url('grad-2.png') repeat-x top #fff;
    padding-bottom: 0;
    border-bottom: 1px solid #d9d9d9;
    background-image: none;
    padding-top: 0;
    border-top: 1px solid #D9D9D9;

    &#product
    {
        margin-top: -30px;
    }

    #myTab
    {
        border-bottom: 0;
        margin-left: 0px;

        li
        {
            a
            {
                color: #979797;
                font-family: "droid-sans", sans-serif;
                padding: 20px 30px;
                text-transform: uppercase;
                font-size: 0.78em;
                font-weight: 300;

                &:hover {
                    color: #47adc7;
                    background: none;
                    border-radius: 0;
                    border: 1px solid #fff;
                    border-bottom: 2px solid #47adc7;
                }
            }
            &.active
            {
                a
                {
                    color: #47adc7;
                    background: none;
                    border-radius: 0;
                    border: 1px solid #fff;
                    border-bottom: 2px solid #47adc7;
                    font-weight: 700;
                    outline: none;
                }
            }
        }
    }
}
.inner-tab-contents
{
    background: #f9f9f9;
    padding: 20px 0 40px;

    .tab-content
    {
        .tab-pane
        {
            background-color: #fff;
            border: 1px solid #ddd;
            padding: 0 25px;

            a
            {

                &:hover
                {
                    text-decoration: underline;
                }
            }
            
            p 
            {
                font-size: 0.78em;
                line-height: 20px;
                margin: 10px 0;
                color: #777;

                a 
                {
                    color: #4baec7;
                }
                .lb 
                {
                    width: 100px;
                    display: inline-block;
                }
                span
                {
                    margin-bottom: 5px;

                    a 
                    {
                        margin-left: 50px;
                        line-height: 36px;
                    }   
                }
            }
            h4 {
                color: #999;
                text-transform: uppercase;
                border-bottom: 1px solid #d9d9d9;
                font-size: 0.82em;
                padding-bottom: 5px;
                font-weight: 100;
                padding: 10px 0;
            }
        }
    }
}