<!-- ######################## CONTEST LISTING ################## -->
<div id="inner-block" class="listing-products">
    <div class="container">
        <div class="row list-header">
            <div class="col-lg-3 col-sm-3">
                <h1>Women's</h1>
            </div>

            <div class="col-lg-2 col-sm-2 hidden-xs">
                <p class="view">
                    <a href="#" id="get-grid">
                        <span class="grid-view selected"></span>
                    </a>
                    <a href="#" id="get-list">
                        <span class="list-view"></span>
                    </a>
                </p>
            </div>

            <!-- ############ show hide ######### -->
  <!--          <script type="text/javascript">
                $("#get-list").click(function() {
                    $(this).find('span').addClass('selected');
                    $("#get-grid span").removeClass('selected');
                    $("#grid-list").hide();
                    $("#horz-list").show();
                    $('.list-options').height($("#horz-list").height() - 7);
                    $('.list-options').css('min-height', $("#horz-list").height() - 7);
                });
                $("#get-grid").click(function() {
                    $(this).find('span').addClass('selected');
                    $("#get-list span").removeClass('selected');
                    $("#grid-list").show();
                    $("#horz-list").hide();
                    $('.list-options').height($("#grid-list").height() - 7);
                    $('.list-options').css('min-height', $("#grid-list").height() - 7);
                });
            </script> -->

        </div>

        <div class="row">

            <!--  ########################################## Same list HORIZONTAL VIEW ########################################## -->
            <div class="col-lg-12 col-sm-12" id="horz-list">

                <div class="col-lg-12 col-sm-12 list flat">
                    <!-- ###### Horz List Item for products ####### -->
                    <div class="row">
                        <div class="col-lg-2 col-sm-2">
                            <a href="/webs/product-details"><img src="/assets/pl-1.png" class="product-pic" /></a>
                        </div>
                        <div class="col-lg-7 col-sm-7">
                            <h1><a href="/webs/product-details">Vestibulum Ante Ipsum Primis In Faucibus Orci Luctus</a></h1>
                            <p class="profile">
                                By <a href="/profiles/seller-profile">Lee AnnFenderson</a>
                            </p>
                            <p class="sizes">
                                Sizes: S,M,L  |  Colors: Pink, Blue  |  In stock: 89
                            </p>
                            <p class="like">
                                <span class="blue"><a href="#"><img src="/assets/icon-bheart.png" /></a> 122x</span>
                                <span><a href="#"><img src="/assets/icon-basket.png" /></a> Add to Basket</span>
                                <span><a href="#"><img src="/assets/icon-list.png" /></a> Add to Wishlist</span>
                            </p>
                        </div>
                        <div class="col-lg-3 col-sm-3">
                            <h2 class="centered price-list">$79</h2>
                            <a href="#" class="btn darkblue-2" data-toggle="modal" data-target="#myProduct">Buy Now</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-sm-12 list flat">
                    <!-- ###### Horz List Item for products ####### -->
                    <div class="row">
                        <div class="col-lg-2 col-sm-2">
                            <a href="/webs/product-details"><img src="/assets/pl-6.png" class="product-pic" /></a>
                        </div>
                        <div class="col-lg-7 col-sm-7">
                            <h1><a href="/webs/product-details">Vestibulum Ante Ipsum Primis In Faucibus Orci Luctus</a></h1>
                            <p class="profile">
                                By <a href="/profiles/seller-profile">Lee AnnFenderson</a>
                            </p>
                            <p class="sizes">
                                Sizes: S,M,L  |  Colors: Pink, Blue  |  In stock: 89
                            </p>
                            <p class="like">
                                <span class="blue"><a href="#"><img src="/assets/icon-bheart.png" /></a> 12x</span>
                                <span><a href="#"><img src="/assets/icon-basket.png" /></a> Add to Basket</span>
                                <span><a href="#"><img src="/assets/icon-list.png" /></a> Add to Wishlist</span>
                            </p>
                        </div>
                        <div class="col-lg-3 col-sm-3">
                            <h2 class="centered price-list">$119</h2>
                            <a href="#" class="btn darkblue-2" data-toggle="modal" data-target="#myProduct">Buy Now</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-sm-12 list flat">
                    <!-- ###### Horz List Item for products ####### -->
                    <div class="row">
                        <div class="col-lg-2 col-sm-2">
                            <a href="/webs/product-details"><img src="/assets/pl-3.png" class="product-pic" /></a>
                        </div>
                        <div class="col-lg-7 col-sm-7">
                            <h1><a href="/webs/product-details">Keira Knightley's Best Style Moments</a></h1>
                            <p class="profile">
                                By <a href="/profiles/seller-profile">Lee AnnFenderson</a>
                            </p>
                            <p class="sizes">
                                Sizes: S,M,L  |  Colors: Pink, Blue  |  In stock: 89
                            </p>
                            <p class="like">
                                <span class="blue"><a href="#"><img src="/assets/icon-bheart.png" /></a> 200x</span>
                                <span><a href="#"><img src="/assets/icon-basket.png" /></a> Add to Basket</span>
                                <span><a href="#"><img src="/assets/icon-list.png" /></a> Add to Wishlist</span>
                            </p>
                        </div>
                        <div class="col-lg-3 col-sm-3">
                            <h2 class="centered price-list">$79</h2>
                            <a href="#" class="btn darkblue-2" data-toggle="modal" data-target="#myProduct">Buy Now</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-sm-12 list flat">
                    <!-- ###### Horz List Item for products ####### -->
                    <div class="row">
                        <div class="col-lg-2 col-sm-2">
                            <a href="/webs/product-details"><img src="/assets/pl-8.png" class="product-pic" /></a>
                        </div>
                        <div class="col-lg-7 col-sm-7">
                            <h1><a href="/webs/product-details">Ipsum Ante Ipsum Primis In Faucibus Orci Luctus</a></h1>
                            <p class="profile">
                                By <a href="/profiles/seller-profile">Lee AnnFenderson</a>
                            </p>
                            <p class="sizes">
                                Sizes: S,M,L  |  Colors: Pink, Blue  |  In stock: 89
                            </p>
                            <p class="like">
                                <span class="blue"><a href="#"><img src="/assets/icon-bheart.png" /></a> 122x</span>
                                <span><a href="#"><img src="/assets/icon-basket.png" /></a> Add to Basket</span>
                                <span><a href="#"><img src="/assets/icon-list.png" /></a> Add to Wishlist</span>
                            </p>
                        </div>
                        <div class="col-lg-3 col-sm-3">
                            <h2 class="centered price-list">$559</h2>
                            <a href="#" class="btn darkblue-2" data-toggle="modal" data-target="#myProduct">Buy Now</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-sm-12 list flat">
                    <!-- ###### Horz List Item for products ####### -->
                    <div class="row">
                        <div class="col-lg-2 col-sm-2">
                            <a href="/webs/product-details"><img src="/assets/pl-7.png" class="product-pic" /></a>
                        </div>
                        <div class="col-lg-7 col-sm-7">
                            <h1><a href="/webs/product-details">Vestibulum Ante Ipsum Primis In Faucibus Orci Luctus</a></h1>
                            <p class="profile">
                                By <a href="/profiles/seller-profile">Jana Doe</a>
                            </p>
                            <p class="sizes">
                                Sizes: S,M,L  |  Colors: Pink, Blue  |  In stock: 89
                            </p>
                            <p class="like">
                                <span class="blue"><a href="#"><img src="/assets/icon-bheart.png" /></a> 122x</span>
                                <span><a href="#"><img src="/assets/icon-basket.png" /></a> Add to Basket</span>
                                <span><a href="#"><img src="/assets/icon-list.png" /></a> Add to Wishlist</span>
                            </p>
                        </div>
                        <div class="col-lg-3 col-sm-3">
                            <h2 class="centered price-list">$79</h2>
                            <a href="#" class="btn darkblue-2" data-toggle="modal" data-target="#myProduct">Buy Now</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-sm-12 list flat">
                    <!-- ###### Horz List Item for products ####### -->
                    <div class="row">
                        <div class="col-lg-2 col-sm-2">
                            <a href="/webs/product-details"><img src="/assets/pl-9.png" class="product-pic" /></a>
                        </div>
                        <div class="col-lg-7 col-sm-7">
                            <h1><a href="/webs/product-details">Keira Knightley's Best Style Moments</a></h1>
                            <p class="profile">
                                By <a href="/profiles/seller-profile">Lee AnnFenderson</a>
                            </p>
                            <p class="sizes">
                                Sizes: S,M,L  |  Colors: Pink, Blue  |  In stock: 89
                            </p>
                            <p class="like">
                                <span class="blue"><a href="#"><img src="/assets/icon-bheart.png" /></a> 122x</span>
                                <span><a href="#"><img src="/assets/icon-basket.png" /></a> Add to Basket</span>
                                <span><a href="#"><img src="/assets/icon-list.png" /></a> Add to Wishlist</span>
                            </p>
                        </div>
                        <div class="col-lg-3 col-sm-3">
                            <h2 class="centered price-list">$79</h2>
                            <a href="#" class="btn darkblue-2" data-toggle="modal" data-target="#myProduct">Buy Now</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-sm-12 list flat">
                    <!-- ###### Horz List Item for products ####### -->
                    <div class="row">
                        <div class="col-lg-2 col-sm-2">
                            <a href="/webs/product-details"><img src="/assets/pl-4.png" class="product-pic" /></a>
                        </div>
                        <div class="col-lg-7 col-sm-7">
                            <h1><a href="/webs/product-details">Vestibulum Ante Ipsum Primis In Faucibus Orci Luctus</a></h1>
                            <p class="profile">
                                By <a href="/profiles/seller-profile">Peter AnnFenderson</a>
                            </p>
                            <p class="sizes">
                                Sizes: S,M,L  |  Colors: Pink, Blue  |  In stock: 89
                            </p>
                            <p class="like">
                                <span class="blue"><a href="#"><img src="/assets/icon-bheart.png" /></a> 400x</span>
                                <span><a href="#"><img src="/assets/icon-basket.png" /></a> Add to Basket</span>
                                <span><a href="#"><img src="/assets/icon-list.png" /></a> Add to Wishlist</span>
                            </p>
                        </div>
                        <div class="col-lg-3 col-sm-3">
                            <h2 class="centered price-list">$279</h2>
                            <a href="#" class="btn darkblue-2" data-toggle="modal" data-target="#myProduct">Buy Now</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-sm-12 list flat">
                    <!-- ###### Horz List Item for products ####### -->
                    <div class="row">
                        <div class="col-lg-2 col-sm-2">
                            <a href="/webs/product-details"><img src="/assets/pl-1.png" class="product-pic" /></a>
                        </div>
                        <div class="col-lg-7 col-sm-7">
                            <h1><a href="/webs/product-details">Vestibulum Ante Ipsum Primis In Faucibus Orci Luctus</a></h1>
                            <p class="profile">
                                By <a href="/profiles/seller-profile">Lee AnnFenderson</a>
                            </p>
                            <p class="sizes">
                                Sizes: S,M,L  |  Colors: Pink, Blue  |  In stock: 89
                            </p>
                            <p class="like">
                                <span class="blue"><a href="#"><img src="/assets/icon-bheart.png" /></a> 122x</span>
                                <span><a href="#"><img src="/assets/icon-basket.png" /></a> Add to Basket</span>
                                <span><a href="#"><img src="/assets/icon-list.png" /></a> Add to Wishlist</span>
                            </p>
                        </div>
                        <div class="col-lg-3 col-sm-3">
                            <h2 class="centered price-list">$79</h2>
                            <a href="#" class="btn darkblue-2" data-toggle="modal" data-target="#myProduct">Buy Now</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-sm-12 list flat">
                    <!-- ###### Horz List Item for products ####### -->
                    <div class="row">
                        <div class="col-lg-2 col-sm-2">
                            <a href="/webs/product-details"><img src="/assets/pl-6.png" class="product-pic" /></a>
                        </div>
                        <div class="col-lg-7 col-sm-7">
                            <h1><a href="/webs/product-details">Vestibulum Ante Ipsum Primis In Faucibus Orci Luctus</a></h1>
                            <p class="profile">
                                By <a href="/profiles/seller-profile">Lee AnnFenderson</a>
                            </p>
                            <p class="sizes">
                                Sizes: S,M,L  |  Colors: Pink, Blue  |  In stock: 89
                            </p>
                            <p class="like">
                                <span class="blue"><a href="#"><img src="/assets/icon-bheart.png" /></a> 12x</span>
                                <span><a href="#"><img src="/assets/icon-basket.png" /></a> Add to Basket</span>
                                <span><a href="#"><img src="/assets/icon-list.png" /></a> Add to Wishlist</span>
                            </p>
                        </div>
                        <div class="col-lg-3 col-sm-3">
                            <h2 class="centered price-list">$119</h2>
                            <a href="#" class="btn darkblue-2" data-toggle="modal" data-target="#myProduct">Buy Now</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-sm-12 list flat">
                    <!-- ###### Horz List Item for products ####### -->
                    <div class="row">
                        <div class="col-lg-2 col-sm-2">
                            <a href="/webs/product-details"><img src="/assets/pl-2.png" class="product-pic" /></a>
                        </div>
                        <div class="col-lg-7 col-sm-7">
                            <h1><a href="/webs/product-details">Keira Knightley's Best Style Moments</a></h1>
                            <p class="profile">
                                By <a href="/profiles/seller-profile">Lee Cooper</a>
                            </p>
                            <p class="sizes">
                                Sizes: S,M,L  |  Colors: Pink, Blue  |  In stock: 89
                            </p>
                            <p class="like">
                                <span class="blue"><a href="#"><img src="/assets/icon-bheart.png" /></a> 200x</span>
                                <span><a href="#"><img src="/assets/icon-basket.png" /></a> Add to Basket</span>
                                <span><a href="#"><img src="/assets/icon-list.png" /></a> Add to Wishlist</span>
                            </p>
                        </div>
                        <div class="col-lg-3 col-sm-3">
                            <h2 class="centered price-list">$79</h2>
                            <a href="#" class="btn darkblue-2" data-toggle="modal" data-target="#myProduct">Buy Now</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-sm-12 list flat">
                    <!-- ###### Horz List Item for products ####### -->
                    <div class="row">
                        <div class="col-lg-2 col-sm-2">
                            <a href="/webs/product-details"><img src="/assets/pl-8.png" class="product-pic" /></a>
                        </div>
                        <div class="col-lg-7 col-sm-7">
                            <h1><a href="/webs/product-details">Ipsum Ante Ipsum Primis In Faucibus Orci Luctus</a></h1>
                            <p class="profile">
                                By <a href="/profiles/seller-profile">Lee AnnFenderson</a>
                            </p>
                            <p class="sizes">
                                Sizes: S,M,L  |  Colors: Pink, Blue  |  In stock: 89
                            </p>
                            <p class="like">
                                <span class="blue"><a href="#"><img src="/assets/icon-bheart.png" /></a> 122x</span>
                                <span><a href="#"><img src="/assets/icon-basket.png" /></a> Add to Basket</span>
                                <span><a href="#"><img src="/assets/icon-list.png" /></a> Add to Wishlist</span>
                            </p>
                        </div>
                        <div class="col-lg-3 col-sm-3">
                            <h2 class="centered price-list">$559</h2>
                            <a href="#" class="btn darkblue-2" data-toggle="modal" data-target="#myProduct">Buy Now</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-sm-12 list flat last">
                    <!-- ###### Horz List Item for products ####### -->
                    <div class="row">
                        <div class="col-lg-2 col-sm-2">
                            <a href="/webs/product-details"><img src="/assets/pl-6.png" class="product-pic" /></a>
                        </div>
                        <div class="col-lg-7 col-sm-7">
                            <h1><a href="/webs/product-details">Vestibulum Ante Ipsum Primis In Faucibus Orci Luctus</a></h1>
                            <p class="profile">
                                By <a href="/profiles/seller-profile">Lee AnnFenderson</a>
                            </p>
                            <p class="sizes">
                                Sizes: S,M,L  |  Colors: Pink, Blue  |  In stock: 89
                            </p>
                            <p class="like">
                                <span class="blue"><a href="#"><img src="/assets/icon-bheart.png" /></a> 122x</span>
                                <span><a href="#"><img src="/assets/icon-basket.png" /></a> Add to Basket</span>
                                <span><a href="#"><img src="/assets/icon-list.png" /></a> Add to Wishlist</span>
                            </p>
                        </div>
                        <div class="col-lg-3 col-sm-3">
                            <h2 class="centered price-list">$79</h2>
                            <a href="#" class="btn darkblue-2" data-toggle="modal" data-target="#myProduct">Buy Now</a>
                        </div>
                    </div>
                </div>

            </div>

            <!--  ########################################## Same list GRID VIEW ########################################## -->
            <div class="col-lg-9 col-sm-9" id="grid-list">

                <div class="col-lg-4 col-sm-4 list">
                    <!-- ###### List Item for contest ####### -->
                    <a href="/webs/product-details"><img src="/assets/pl-1.png" class="product-pic" /></a>
                    <h2 class="price">$79</h2>
                    <h1><a href="/webs/product-details">Ipsum Ante Ipsum Primis In Faucibus Orci Luctus</a></h1>
                    <div class="row hidden-xs">
                        <div class="col-lg-7 col-sm-7 profile">
                            <p>
                                By <a href="/profiles/seller-profile">Lee AnnFenderson</a>
                            </p>
                        </div>
                        <div class="col-lg-5 col-sm-5 likes">
                            <p>
                                <a href="#"><img src="/assets/icon-bheart.png" /></a> | <a href="#" data-toggle="modal" data-target="#myProduct"><img src="/assets/icon-eye.png" /></a>
                            </p>
                        </div>
                    </div>
                    <div class="row visible-xs">
                        <!-- mobileview -->
                        <table width="100%" cellpadding="10">
                            <tr>
                                <td class="profile">
                                <p>
                                    By <a href="/profiles/seller-profile">Lee AnnFenderson</a>
                                </p></td>
                                <td class="likes">
                                <p>
                                    <a href="#"><img src="/assets/icon-bheart.png" /></a> | <a href="#" data-toggle="modal" data-target="#myProduct"><img src="/assets/icon-eye.png" /></a>
                                </p></td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-4 list">
                    <!-- ###### List Item for contest ####### -->
                    <a href="/webs/product-details"><img src="/assets/pl-6.png" class="product-pic" /></a>
                    <h2 class="price">$299</h2>
                    <h1><a href="/webs/product-details">Keira Knightley's Best Style Moments</a></h1>
                    <div class="row hidden-xs">
                        <div class="col-lg-7 col-sm-7 profile">
                            <p>
                                By <a href="/profiles/seller-profile">Jane Doe</a>
                            </p>
                        </div>
                        <div class="col-lg-5 col-sm-5 likes">
                            <p>
                                <a href="#"><img src="/assets/icon-bheart.png" /></a> | <a href="#" data-toggle="modal" data-target="#myProduct"><img src="/assets/icon-eye.png" /></a>
                            </p>
                        </div>
                    </div>
                    <div class="row visible-xs">
                        <!-- mobileview -->
                        <table width="100%" cellpadding="10">
                            <tr>
                                <td class="profile">
                                <p>
                                    By <a href="/profiles/seller-profile">Jabe Doe</a>
                                </p></td>
                                <td class="likes">
                                <p>
                                    <a href="#"><img src="/assets/icon-bheart.png" /></a> | <a href="#" data-toggle="modal" data-target="#myProduct"><img src="/assets/icon-eye.png" /></a>
                                </p></td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-4 list last">
                    <!-- ###### List Item for contest ####### -->
                    <a href="#"><img src="/assets/pl-3.png" class="product-pic" /></a>
                    <h2 class="price">$449</h2>
                    <h1><a href="/webs/product-details">Ipsum Ante Ipsum Primis In Faucibus Orci Luctus</a></h1>
                    <div class="row hidden-xs">
                        <div class="col-lg-7 col-sm-7 profile">
                            <p>
                                By <a href="/profiles/seller-profile">Pepe Cooper</a>
                            </p>
                        </div>
                        <div class="col-lg-5 col-sm-5 likes">
                            <p>
                                <a href="#"><img src="/assets/icon-heart.png" /></a> | <a href="#" data-toggle="modal" data-target="#myProduct"><img src="/assets/icon-eye.png" /></a>
                            </p>
                        </div>
                    </div>
                    <div class="row visible-xs">
                        <!-- mobileview -->
                        <table width="100%" cellpadding="10">
                            <tr>
                                <td class="profile">
                                <p>
                                    By <a href="/profiles/seller-profile">pepe Cooper</a>
                                </p></td>
                                <td class="likes">
                                <p>
                                    <a href="#"><img src="/assets/icon-heart.png" /> | <a href="#" data-toggle="modal" data-target="#myProduct"><img src="/assets/icon-eye.png" /></a>
                                </p></td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-4 list">
                    <!-- ###### List Item for contest ####### -->
                    <a href="/webs/product-details"><img src="/assets/pl-8.png" class="product-pic" /></a>
                    <h2 class="price">$79</h2>
                    <h1><a href="/webs/product-details">Vestibulum Ante Ipsum Primis In Faucibus Orci Luctus</a></h1>
                    <div class="row hidden-xs">
                        <div class="col-lg-7 col-sm-7 profile">
                            <p>
                                By <a href="/profiles/seller-profile">JIm Fenderson</a>
                            </p>
                        </div>
                        <div class="col-lg-5 col-sm-5 likes">
                            <p>
                                <a href="#"><img src="/assets/icon-bheart.png" /></a> | <a href="#" data-toggle="modal" data-target="#myProduct"><img src="/assets/icon-eye.png" /></a>
                            </p>
                        </div>
                    </div>
                    <div class="row visible-xs">
                        <!-- mobileview -->
                        <table width="100%" cellpadding="10">
                            <tr>
                                <td class="profile">
                                <p>
                                    By <a href="/profiles/seller-profile">Jim Fenderson</a>
                                </p></td>
                                <td class="likes">
                                <p>
                                    <a href="#"><img src="/assets/icon-bheart.png" /> | <a href="#" data-toggle="modal" data-target="#myProduct"><img src="/assets/icon-eye.png" /></a>
                                </p></td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-4 list">
                    <!-- ###### List Item for contest ####### -->
                    <a href="/webs/product-details"><img src="/assets/pl-7.png" class="product-pic" /></a>
                    <h2 class="price">$299</h2>
                    <h1><a href="/webs/product-details">Keira Knightley's Best Style Moments</a></h1>
                    <div class="row hidden-xs">
                        <div class="col-lg-7 col-sm-7 profile">
                            <p>
                                By <a href="/profiles/seller-profile">Jane Doe</a>
                            </p>
                        </div>
                        <div class="col-lg-5 col-sm-5 likes">
                            <p>
                                <a href="#"><img src="/assets/icon-heart.png" /></a> | <a href="#" data-toggle="modal" data-target="#myProduct"><img src="/assets/icon-eye.png" /></a>
                            </p>
                        </div>
                    </div>
                    <div class="row visible-xs">
                        <!-- mobileview -->
                        <table width="100%" cellpadding="10">
                            <tr>
                                <td class="profile">
                                <p>
                                    By <a href="/profiles/seller-profile">Jabe Doe</a>
                                </p></td>
                                <td class="likes">
                                <p>
                                    <a href="#"><img src="/assets/icon-heart.png" /></a> | <a href="#" data-toggle="modal" data-target="#myProduct"><img src="/assets/icon-eye.png" /></a>
                                </p></td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-4 list last">
                    <!-- ###### List Item for contest ####### -->
                    <a href="#"><img src="/assets/pl-9.png" class="product-pic" /></a>
                    <h2 class="price">$449</h2>
                    <h1><a href="/webs/product-details">Ipsum Ante Ipsum Primis In Faucibus Orci Luctus</a></h1>
                    <div class="row hidden-xs">
                        <div class="col-lg-7 col-sm-7 profile">
                            <p>
                                By <a href="/profiles/seller-profile">Lee Cooper</a>
                            </p>
                        </div>
                        <div class="col-lg-5 col-sm-5 likes">
                            <p>
                                <a href="#"><img src="/assets/icon-heart.png" /></a> | <a href="#" data-toggle="modal" data-target="#myProduct"><img src="/assets/icon-eye.png" /></a>
                            </p>
                        </div>
                    </div>
                    <div class="row visible-xs">
                        <!-- mobileview -->
                        <table width="100%" cellpadding="10">
                            <tr>
                                <td class="profile">
                                <p>
                                    By <a href="/profiles/seller-profile">Lee Cooper</a>
                                </p></td>
                                <td class="likes">
                                <p>
                                    <a href="#"><img src="/assets/icon-heart.png" /></a> | <a href="#" data-toggle="modal" data-target="#myProduct"><img src="/assets/icon-eye.png" /></a>
                                </p></td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-4 list">
                    <!-- ###### List Item for contest ####### -->
                    <a href="/webs/product-details"><img src="/assets/pl-2.png" class="product-pic" /></a>
                    <h2 class="price">$179</h2>
                    <h1><a href="/webs/product-details">Vestibulum Ante Ipsum Primis In Faucibus Orci Luctus</a></h1>
                    <div class="row hidden-xs">
                        <div class="col-lg-7 col-sm-7 profile">
                            <p>
                                By <a href="/profiles/seller-profile">Lee AnnFenderson</a>
                            </p>
                        </div>
                        <div class="col-lg-5 col-sm-5 likes">
                            <p>
                                <a href="#"><img src="/assets/icon-heart.png" /></a> | <a href="#" data-toggle="modal" data-target="#myProduct"><img src="/assets/icon-eye.png" /></a>
                            </p>
                        </div>
                    </div>
                    <div class="row visible-xs">
                        <!-- mobileview -->
                        <table width="100%" cellpadding="10">
                            <tr>
                                <td class="profile">
                                <p>
                                    By <a href="/profiles/seller-profile">Lee AnnFenderson</a>
                                </p></td>
                                <td class="likes">
                                <p>
                                    <a href="#"><img src="/assets/icon-heart.png" /> | <a href="#" data-toggle="modal" data-target="#myProduct"><img src="/assets/icon-eye.png" /></a>
                                </p></td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-4 list">
                    <!-- ###### List Item for contest ####### -->
                    <a href="/webs/product-details"><img src="/assets/pl-4.png" class="product-pic" /></a>
                    <h2 class="price">$599</h2>
                    <h1><a href="/webs/product-details">Keira Knightley's Best Style Moments</a></h1>
                    <div class="row hidden-xs">
                        <div class="col-lg-7 col-sm-7 profile">
                            <p>
                                By <a href="/profiles/seller-profile">Jane Doe</a>
                            </p>
                        </div>
                        <div class="col-lg-5 col-sm-5 likes">
                            <p>
                                <a href="#"><img src="/assets/icon-heart.png" /></a> | <a href="#" data-toggle="modal" data-target="#myProduct"><img src="/assets/icon-eye.png" /></a>
                            </p>
                        </div>
                    </div>
                    <div class="row visible-xs">
                        <!-- mobileview -->
                        <table width="100%" cellpadding="10">
                            <tr>
                                <td class="profile">
                                <p>
                                    By <a href="/profiles/seller-profile">Jabe Doe</a>
                                </p></td>
                                <td class="likes">
                                <p>
                                    <a href="#"><img src="/assets/icon-heart.png" /> | <a href="#" data-toggle="modal" data-target="#myProduct"><img src="/assets/icon-eye.png" /></a>
                                </p></td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-4 list last">
                    <!-- ###### List Item for contest ####### -->
                    <a href="#"><img src="/assets/pl-5.png" class="product-pic" /></a>
                    <h2 class="price">$1149</h2>
                    <h1><a href="/webs/product-details">Ipsum Ante Ipsum Primis In Faucibus Orci Luctus</a></h1>
                    <div class="row hidden-xs">
                        <div class="col-lg-7 col-sm-7 profile">
                            <p>
                                By <a href="/profiles/seller-profile">Lee Cooper</a>
                            </p>
                        </div>
                        <div class="col-lg-5 col-sm-5 likes">
                            <p>
                                <a href="#"><img src="/assets/icon-bheart.png" /></a> | <a href="#" data-toggle="modal" data-target="#myProduct"><img src="/assets/icon-eye.png" /></a>
                            </p>
                        </div>
                    </div>
                    <div class="row visible-xs">
                        <!-- mobileview -->
                        <table width="100%" cellpadding="10">
                            <tr>
                                <td class="profile">
                                <p>
                                    By <a href="/profiles/seller-profile">Lee Cooper</a>
                                </p></td>
                                <td class="likes">
                                <p>
                                    <a href="#"><img src="/assets/icon-bheart.png" /></a> | <a href="#" data-toggle="modal" data-target="#myProduct"><img src="/assets/icon-eye.png" /></a>
                                </p></td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-4 list">
                    <!-- ###### List Item for contest ####### -->
                    <a href="/webs/product-details"><img src="/assets/pl-7.png" class="product-pic" /></a>
                    <h2 class="price">$179</h2>
                    <h1><a href="/webs/product-details">Vestibulum Ante Ipsum Primis In Faucibus Orci Luctus</a></h1>
                    <div class="row hidden-xs">
                        <div class="col-lg-7 col-sm-7 profile">
                            <p>
                                By <a href="/profiles/seller-profile">Lee AnnFenderson</a>
                            </p>
                        </div>
                        <div class="col-lg-5 col-sm-5 likes">
                            <p>
                                <a href="#"><img src="/assets/icon-heart.png" /></a> | <a href="#" data-toggle="modal" data-target="#myProduct"><img src="/assets/icon-eye.png" /></a>
                            </p>
                        </div>
                    </div>
                    <div class="row visible-xs">
                        <!-- mobileview -->
                        <table width="100%" cellpadding="10">
                            <tr>
                                <td class="profile">
                                <p>
                                    By <a href="/profiles/seller-profile">Lee AnnFenderson</a>
                                </p></td>
                                <td class="likes">
                                <p>
                                    <a href="#"><img src="/assets/icon-heart.png" /> | <a href="#" data-toggle="modal" data-target="#myProduct"><img src="/assets/icon-eye.png" /></a>
                                </p></td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-4 list">
                    <!-- ###### List Item for contest ####### -->
                    <a href="/webs/product-details"><img src="/assets/pl-1.png" class="product-pic" /></a>
                    <h2 class="price">$599</h2>
                    <h1><a href="/webs/product-details">Keira Knightley's Best Style Moments</a></h1>
                    <div class="row hidden-xs">
                        <div class="col-lg-7 col-sm-7 profile">
                            <p>
                                By <a href="/profiles/seller-profile">Jane Doe</a>
                            </p>
                        </div>
                        <div class="col-lg-5 col-sm-5 likes">
                            <p>
                                <a href="#"><img src="/assets/icon-bheart.png" /></a> | <a href="#" data-toggle="modal" data-target="#myProduct"><img src="/assets/icon-eye.png" /></a>
                            </p>
                        </div>
                    </div>
                    <div class="row visible-xs">
                        <!-- mobileview -->
                        <table width="100%" cellpadding="10">
                            <tr>
                                <td class="profile">
                                <p>
                                    By <a href="/profiles/seller-profile">Jabe Doe</a>
                                </p></td>
                                <td class="likes">
                                <p>
                                    <a href="#"><img src="/assets/icon-bheart.png" /> | <a href="#" data-toggle="modal" data-target="#myProduct"><img src="/assets/icon-eye.png" /></a>
                                </p></td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-4 list last">
                    <!-- ###### List Item for contest ####### -->
                    <a href="#"><img src="/assets/pl-6.png" class="product-pic" /></a>
                    <h2 class="price">$1149</h2>
                    <h1><a href="/webs/product-details">Ipsum Ante Ipsum Primis In Faucibus Orci Luctus</a></h1>
                    <div class="row hidden-xs">
                        <div class="col-lg-7 col-sm-7 profile">
                            <p>
                                By <a href="/profiles/seller-profile">Lee Cooper</a>
                            </p>
                        </div>
                        <div class="col-lg-5 col-sm-5 likes">
                            <p>
                                <a href="#"><img src="/assets/icon-bheart.png" /></a> | <a href="#" data-toggle="modal" data-target="#myProduct"><img src="/assets/icon-eye.png" /></a>
                            </p>
                        </div>
                    </div>
                    <div class="row visible-xs">
                        <!-- mobileview -->
                        <table width="100%" cellpadding="10">
                            <tr>
                                <td class="profile">
                                <p>
                                    By <a href="/profiles/seller-profile">Lee Cooper</a>
                                </p></td>
                                <td class="likes">
                                <p>
                                    <a href="#"><img src="/assets/icon-bheart.png" /></a> | <a href="#" data-toggle="modal" data-target="#myProduct"><img src="/assets/icon-eye.png" /></a>
                                </p></td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>