<div class='checkout'>
  <div class='container'>
    <div class='row checkout-header hidden-xs'>
      <div class='col-lg-8 col-sm-8'>
        <h2>Checkout</h2>
      </div>
      <div class='col-lg-4 col-sm-4'>
        <h2>Order Summary</h2>
      </div>
    </div>
    <div class='row checkout-panel'>
      <div class='col-lg-8 col-sm-8 hidden-xs'>
        <!-- checkout form -->
        <form accept-charset="UTF-8" action="#q" class="new_account_order" id="new_account_order" method="post">
          <h6 class='checkout-title first'>SHIPPING ADDRESS</h6>
          <div class='form-check-group'>
            <label>First Name</label>
            <input class="form-checkout form-full" id="firstname" name="account_order[account_shipping_attributes][first_name]" type="text" value="Tom" />
          </div>
          <div class='form-check-group'>
            <label>Last Name</label>
            <input class="form-checkout form-full" id="lastname" name="account_order[account_shipping_attributes][last_name]" type="text" value="Tom" />
          </div>
          <div class='form-check-group'>
            <label>Street Address</label>
            <input class="form-checkout form-full js-sh-addr1" id="address1" name="account_order[account_shipping_attributes][street_address1]" type="text" value="62 Test Road" />
          </div>
          <div class='form-check-group'>
            <label>Street Address 2</label>
            <input class="form-checkout form-full js-sh-addr2" id="address2" name="account_order[account_shipping_attributes][street_address2]" type="text" value="Union Building" />
          </div>
          <div class='form-check-group'>
            <label>City</label>
            <input class="form-checkout form-full" id="city js-sh-city" name="account_order[account_shipping_attributes][city]" type="text" value="Chicago" />
          </div>
          <div class='form-check-group-half'>
            <label>Zip</label>
            <input class="form-checkout form-full" id="zip js-sh-zip" name="account_order[account_shipping_attributes][zip]" type="text" value="hwudqowi" />
          </div>
          <div class='form-check-group-half'>
            <label>Country</label>
            <select class="form-checkout form-full js-ba" id="account_order_account_shipping_attributes_country" name="account_order[account_shipping_attributes][country]">
              <option value=""></option>
              <option value="AU">Australia</option>
            </select>
          </div>
          <h6 class='checkout-title'>PAYMENT DETAILS</h6>
          <div class='form-check-group'>
            <label>First Name</label>
            <input class='form-checkout form-full' id='firstname' name='payment[first_name]' type='input' value='Tom'>
          </div>
          <div class='form-check-group'>
              <label>Last Name</label>
              <input class='form-checkout form-full' id='lastname' name='payment[last_name]' type='input' value='Dallimore'>
          </div>
          <h6 class='checkout-title'>BILLING ADDRESS</h6>
          <div class='form-check-group-75'>
            <input class='css-checkbox-22 js-use-my-shipping' id='demo_box_2' name='use_shipping' type='checkbox' value='1'>
            <label class='css-label-22' for='demo_box_2' name='demo_lbl_2'></label>
            <span class='text-shipping'>Use my Shipping Address</span>
          </div>
          <div class='form-check-group'>
            <label>Street Address</label>
            <input class="form-checkout form-full js-b-addr1 js-ba" id="billing-address1" name="account_order[account_billing_address_attributes][street_address1]" type="text" value="62 Test Road" />
          </div>
          <div class='form-check-group'>
            <label>Street Address 2</label>
            <input class="form-checkout form-full js-b-addr2 js-ba" id="billing-address2" name="account_order[account_billing_address_attributes][street_address2]" type="text" value="Union Building" />
          </div>
          <div class='form-check-group'>
            <label>City</label>
            <input class="form-checkout form-full js-b-city js-ba" id="city" name="account_order[account_billing_address_attributes][city]" required="required" type="text" value="Chicago" />
          </div>
          <div class='form-check-group-half'>
            <label>Zip</label>
            <input class="form-checkout form-full js-b-zip js-ba" id="zip" name="account_order[account_billing_address_attributes][zip]" required="required" type="text" value="hwudqowi" />
          </div>
          <div class='form-check-group-half'>
            <label>Country</label>
            <select class="form-checkout form-full js-ba" id="account_order_account_billing_address_attributes_country" name="account_order[account_billing_address_attributes][country]" required="required">
              <option value=""></option>
              <option value="AU">Australia</option>
            </select>
          </div>
          <input class='btn green hidden-xs' type='submit' value='PLACE ORDER'/>
        </form>
      </div>
      <!-- MOBILE FORM -->
      
      <h2 class='checkout-header visible-xs'>Order Summary</h2>
      <div class='col-lg-4 col-sm-4'>
        <div class='bs-example'>
          <ul class='list-group'>
            <li class='list-group-item' id='checkoutCart'>
              <div class='media'>
                <a class='pull-left' href='#'>
                  <img alt='#' class='media-object' src='/system/image_collection_record/file_name/69/processed_900360.jpg'>
                </a>
                <div class='media-body'>
                  <h5 class='media-heading'>
                    Gitman Casual Shirt
                    <span>$139</span>
                  </h5>
                  <p>
                    Size:
                    <strong>Brown</strong>
                  </p>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <form>
          <div id='checkout-calculation'>
            <div id="checkout-breakdown">
              <div>
                <span>SUB-TOTAL:</span>
                <span>DELIVERY:</span>
              </div>
              <div>
                <span>$139.00</span>
                <span>$24.00</span>
              </div>
            </div>
            <hr>
            <div id="checkout-total">
              <div>
                <strong>ORDER TOTAL:</strong>
              </div>
              <div>
                <strong>$139.00</strong>
              </div>
            </div>
            <hr>
          </div>
          <input class='btn green checkout-button' type='submit' value='PLACE ORDER'>
          <div id='checkout-secure'>
            <img alt="Secure checkout" src="/img/secure-checkout.png" />
            <span class='text-shipping'>SECURE CHECKOUT</span>
          </div>
        </form>
      </div>
    </div>
  </div>
</div> 


<!-- Mobile form content -->
{{!-- <div class="col-lg-8 col-sm-8 visible-xs">
        <h3 class="checkout-mtitle">Place Order</h3>
        <h6 class="checkout-title">SHIPPING ADDRESS</h6>
        <form role="form" method="post" action="#">
          <div class="form-check-group-full">
            <label>First Name</label>
            <input type="input" class="form-checkout form-full" id="firstname" required>
          </div>
          <div class="form-check-group-full">
            <label>Last Name</label>
            <input type="input" class="form-checkout form-full" id="lastname" required>
          </div>
          <div class="form-check-group-full">
            <label>Street Address</label>
            <input type="input" class="form-checkout form-full" id="address1" required>
          </div>
          <div class="form-check-group-full">
            <label>Street Address 2</label>
            <input type="input" class="form-checkout form-full" id="address2" required>
          </div>
          <div class="form-check-group-full">
            <label>City</label>
            <input type="input" class="form-checkout form-full" id="city" required>
          </div>
          <div class="form-check-group-full">
            <label>Zip</label>
            <input type="number" class="form-checkout form-full" id="zip">
          </div>
          <div class="form-check-group-full">
            <label>Country</label>
            <select>
              <option class="form-checkout form-full" id="zip">
              </select>
          </div>
          <h6 class="checkout-title">PAYMENT DETAILS</h6>

          <div class="form-check-group-full">
            <label>First Name</label>
            <input type="input" class="form-checkout form-full" id="firstname" required>
          </div>
          <div class="form-check-group-full">
            <label>Last Name</label>
            <input type="input" class="form-checkout form-full" id="lastname" required>
          </div>
          <div id="paymentMethod">
            <label>Choose Your Payment Method</label>
            <div class="clearfix"></div>
            <div class="col-lg-4 col-sm-4 cards">
              <input type="radio" id="payment_method">
              <img id="paypal" src="/assets/wear_my_tags/card-1-e0bf2b829e512bbb501bf4ea0ed338ac.png">
            </div>
            <div class="col-lg-4 col-sm-4 cards">
              <input type="radio" id="payment_method">
              <img id="paypal" src="/assets/wear_my_tags/card-2-fb41180846cf4543629540b3dca684e9.png">
            </div>
            <div class="col-lg-4 col-sm-4 cards">
              <input type="radio" id="payment_method">
              <img id="paypal" src="/assets/wear_my_tags/card-3-189e0dc7974f96d36062a364d5c05f19.png">
            </div>
            <div class="col-lg-4 col-sm-4 cards">
              <input type="radio" id="payment_method">
              <img id="paypal" src="/assets/wear_my_tags/card-3-189e0dc7974f96d36062a364d5c05f19.png">
            </div>
          </div>
          <div class="form-check-group-full">
            <label>Card Number</label>
            <input type="input" id="card_number" class="form-checkout form-full">
          </div>
          <br>
          <div class="form-check-group-half">
            <label>Exp Date</label>
            <div class="clearfix"></div>
            <select>
              <option class="form-checkout form-full" id="exp-month"></option>
            </select>
          </div>
          <div class="form-check-group-half">
            <label></label>
            <select>
              <option class="form-checkout form-full" id="exp-year"></option>
            </select>
          </div>
          <div class="form-check-group-full">
            <label>CVC</label>
            <input type="input" class="form-checkout form-full" id="cvc"/>
          </div>
          <h6 class="checkout-title">BILLING ADDRESS</h6>
          <div class="form-check-group-full">
            <input id="demo_box_2" class="css-checkbox-22" type="checkbox"  />
            <label for="demo_box_2" name="demo_lbl_2" class="css-label-22"></label>
            <span class="text-shipping">Use my Shipping Address</span>
          </div>
          <div class="form-check-group-full">
            <label>Street Address</label>
            <input type="input" class="form-checkout form-full" id="billing-address1">
          </div>
          <div class="form-check-group-full">
            <label>Street Address 2</label>
            <input type="input" class="form-checkout form-full" id="billing-address2">
          </div>
          <div class="form-check-group-full">
            <label>City</label>
            <input type="input" class="form-checkout form-full" id="city">
          </div>
          <div class="form-check-group-full">
            <label>Zip</label>
            <input type="number" class="form-checkout form-full" id="zip">
          </div>
          <div class="form-check-group-full">
            <label>Country</label>
            <select>
              <option class="form-checkout form-full" id="zip">
            </select>
          </div>
          <input type="submit" value="PLACE ORDER" class="btn btn-block green visible-xs" />
        </form>
      </div> --}}