<div id="header-content">
    <div class="container">
        <div class="row">

        </div>
    </div>
</div>
<section class="grey">
    <h2>New products</h2>

</section>
<section>
    <h2>Featured products</h2>
</section>