<!DOCTYPE html>
<html>
<head>
  
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Redlight</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/application.css">
    <link rel="stylesheet" href="components/icomoon/style.css" media="screen">
    <script src="components/modernizr/modernizr.js"></script>
</head>

<body>
  <div class="mp-pusher" id="mp-pusher">
    {{partial 'mobile_navigation'}}
    {{partial 'mobile_header'}}
    {{partial 'header'}}

    <div class="main">    
        {{> body }}
    </div>
    {{partial 'footer'}}
  </body>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="components/jquery/dist/jquery.min.js"><\/script>')</script>
    <script src="//localhost:35729/livereload.js"></script>
    <script src="js/redlight.js"></script>
    <script src="js/application.js"></script>
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>
</html>
