<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Redlight</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <link rel="stylesheet" href="css/redlight.css">
        <link rel="stylesheet" href="components/icomoon/dist/css/style.css" media="screen">
        <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
        <script src="components/modernizr/modernizr.js"></script>
    </head>
    <body>
        <div class="parent-container">
            <div class="mp-pusher" id="mp-pusher">
                {{partial 'mobile_navigation'}}
                {{partial 'header'}}

                <div class="main">    
                    {{> body }}
                </div>
                {{partial 'footer'}}
            </div>
        </div>
        <script src="components/jquery/dist/jquery.min.js"></script>
        <!-- build:remove --><script src="//localhost:35729/livereload.js"></script><!-- /build -->
        <script src="js/redlight.js"></script>
        <script src="js/application.js"></script>
        {{partial 'search'}}
    </body>
</html>
